In [9]:
import sys
import os

# Define the path to the parent directory of data_analysis
parent_dir = '/Users/nielsvanwinden/Projects/Projects/Inholland/Scenario_Generator/src'

# Add the parent directory to sys.path
sys.path.append(parent_dir)

# Now you can import the data_analysis module
from data_analysis import *

In [10]:
df = load_macro_economic_data()

Data loaded successfully from /Users/nielsvanwinden/Projects/Projects/Inholland/Scenario_Generator/data/macro_economic.csv.

In [11]:
df = df[df["macro_code"] == "unemployment_rate" ]

In [31]:
# Convert 'pit_date' to datetime
df['pit_date'] = pd.to_datetime(df['pit_date'], format='%Y-%m-%d')

# Add year column
df['year'] = df['pit_date'].dt.year

# Create a new date representing Q2 (30th June of the same year)
Q2_df = df.copy()

Q2_df['pit_date'] = pd.to_datetime(df['year'].astype(str) + '-06-30')
Q2_df["year"] = Q2_df["year"] + 0.5
Q2_df

           macro_code   pit_date  pit_index  pit_value    year
0   unemployment_rate 1970-06-30          0      0.016  1970.5
1   unemployment_rate 1971-06-30          1      0.020  1971.5
2   unemployment_rate 1972-06-30          2      0.029  1972.5
3   unemployment_rate 1973-06-30          3      0.029  1973.5
4   unemployment_rate 1974-06-30          4      0.033  1974.5
5   unemployment_rate 1975-06-30          5      0.042  1975.5
6   unemployment_rate 1976-06-30          6      0.046  1976.5
7   unemployment_rate 1977-06-30          7      0.043  1977.5
8   unemployment_rate 1978-06-30          8      0.044  1978.5
9   unemployment_rate 1979-06-30          9      0.046  1979.5
10  unemployment_rate 1980-06-30         10      0.045  1980.5
11  unemployment_rate 1981-06-30         11      0.056  1981.5
12  unemployment_rate 1982-06-30         12      0.074  1982.5
13  unemployment_rate 1983-06-30         13      0.090  1983.5
14  unemployment_rate 1984-06-30         14      0.088  1984.5
15  unemployment_rate 1985-06-30         15      0.082  1985.5
16  unemployment_rate 1986-06-30         16      0.075  1986.5
17  unemployment_rate 1987-06-30         17      0.073  1987.5
18  unemployment_rate 1988-06-30         18      0.073  1988.5
19  unemployment_rate 1989-06-30         19      0.067  1989.5
20  unemployment_rate 1990-06-30         20      0.061  1990.5
21  unemployment_rate 1991-06-30         21      0.058  1991.5
22  unemployment_rate 1992-06-30         22      0.058  1992.5
23  unemployment_rate 1993-06-30         23      0.066  1993.5
24  unemployment_rate 1994-06-30         24      0.073  1994.5
25  unemployment_rate 1995-06-30         25      0.070  1995.5
26  unemployment_rate 1996-06-30         26      0.065  1996.5
27  unemployment_rate 1997-06-30         27      0.059  1997.5
28  unemployment_rate 1998-06-30         28      0.047  1998.5
29  unemployment_rate 1999-06-30         29      0.041  1999.5
30  unemployment_rate 2000-06-30         30      0.036  2000.5
31  unemployment_rate 2001-06-30         31      0.033  2001.5
32  unemployment_rate 2002-06-30         32      0.039  2002.5
33  unemployment_rate 2003-06-30         33      0.048  2003.5
34  unemployment_rate 2004-06-30         34      0.057  2004.5
35  unemployment_rate 2005-06-30         35      0.059  2005.5
36  unemployment_rate 2006-06-30         36      0.050  2006.5
37  unemployment_rate 2007-06-30         37      0.042  2007.5
38  unemployment_rate 2008-06-30         38      0.037  2008.5
39  unemployment_rate 2009-06-30         39      0.044  2009.5
40  unemployment_rate 2010-06-30         40      0.050  2010.5
41  unemployment_rate 2011-06-30         41      0.050  2011.5
42  unemployment_rate 2012-06-30         42      0.058  2012.5
43  unemployment_rate 2013-06-30         43      0.073  2013.5
44  unemployment_rate 2014-06-30         44      0.074  2014.5
45  unemployment_rate 2015-06-30         45      0.069  2015.5
46  unemployment_rate 2016-06-30         46      0.060  2016.5
47  unemployment_rate 2017-06-30         47      0.049  2017.5
48  unemployment_rate 2018-06-30         48      0.038  2018.5
49  unemployment_rate 2019-06-30         49      0.034  2019.5
50  unemployment_rate 2020-06-30         50      0.038  2020.5
51  unemployment_rate 2021-06-30         51      0.042  2021.5
52  unemployment_rate 2022-06-30         52      0.035  2022.5

In [25]:
quarterly_df = df.copy()
quarterly_df["pit_index"] = None
quarterly_df["pit_value"] = None



for delta in [0.25, 0.75, 0]:
    if delta == 0.25:
        # Create a new date representing Q1 (31th March of the same year)
        Q1_df = quarterly_df.copy()
        Q1_df['pit_date'] = pd.to_datetime(df['year'].astype(str) + '-03-31')
        Q1_df["year"] = Q1_df["year"] + delta
    elif delta == 0:
        # Create a new date representing Q3 (30th September of the same year)
        Q3_df = quarterly_df.copy()
        Q3_df['pit_date'] = pd.to_datetime(df['year'].astype(str) + '-09-30')
        Q3_df["year"] = Q3_df["year"] + delta
    else:
        Q4_df = quarterly_df.copy()
        Q4_df['pit_date'] = pd.to_datetime(df['year'].astype(str) + '-12-31')
        Q4_df["year"] = Q4_df["year"] + delta

In [28]:
display(Q1_df)

           macro_code   pit_date pit_index pit_value     year
0   unemployment_rate 1970-03-31      None      None  1970.25
1   unemployment_rate 1971-03-31      None      None  1971.25
2   unemployment_rate 1972-03-31      None      None  1972.25
3   unemployment_rate 1973-03-31      None      None  1973.25
4   unemployment_rate 1974-03-31      None      None  1974.25
5   unemployment_rate 1975-03-31      None      None  1975.25
6   unemployment_rate 1976-03-31      None      None  1976.25
7   unemployment_rate 1977-03-31      None      None  1977.25
8   unemployment_rate 1978-03-31      None      None  1978.25
9   unemployment_rate 1979-03-31      None      None  1979.25
10  unemployment_rate 1980-03-31      None      None  1980.25
11  unemployment_rate 1981-03-31      None      None  1981.25
12  unemployment_rate 1982-03-31      None      None  1982.25
13  unemployment_rate 1983-03-31      None      None  1983.25
14  unemployment_rate 1984-03-31      None      None  1984.25
15  unemployment_rate 1985-03-31      None      None  1985.25
16  unemployment_rate 1986-03-31      None      None  1986.25
17  unemployment_rate 1987-03-31      None      None  1987.25
18  unemployment_rate 1988-03-31      None      None  1988.25
19  unemployment_rate 1989-03-31      None      None  1989.25
20  unemployment_rate 1990-03-31      None      None  1990.25
21  unemployment_rate 1991-03-31      None      None  1991.25
22  unemployment_rate 1992-03-31      None      None  1992.25
23  unemployment_rate 1993-03-31      None      None  1993.25
24  unemployment_rate 1994-03-31      None      None  1994.25
25  unemployment_rate 1995-03-31      None      None  1995.25
26  unemployment_rate 1996-03-31      None      None  1996.25
27  unemployment_rate 1997-03-31      None      None  1997.25
28  unemployment_rate 1998-03-31      None      None  1998.25
29  unemployment_rate 1999-03-31      None      None  1999.25
30  unemployment_rate 2000-03-31      None      None  2000.25
31  unemployment_rate 2001-03-31      None      None  2001.25
32  unemployment_rate 2002-03-31      None      None  2002.25
33  unemployment_rate 2003-03-31      None      None  2003.25
34  unemployment_rate 2004-03-31      None      None  2004.25
35  unemployment_rate 2005-03-31      None      None  2005.25
36  unemployment_rate 2006-03-31      None      None  2006.25
37  unemployment_rate 2007-03-31      None      None  2007.25
38  unemployment_rate 2008-03-31      None      None  2008.25
39  unemployment_rate 2009-03-31      None      None  2009.25
40  unemployment_rate 2010-03-31      None      None  2010.25
41  unemployment_rate 2011-03-31      None      None  2011.25
42  unemployment_rate 2012-03-31      None      None  2012.25
43  unemployment_rate 2013-03-31      None      None  2013.25
44  unemployment_rate 2014-03-31      None      None  2014.25
45  unemployment_rate 2015-03-31      None      None  2015.25
46  unemployment_rate 2016-03-31      None      None  2016.25
47  unemployment_rate 2017-03-31      None      None  2017.25
48  unemployment_rate 2018-03-31      None      None  2018.25
49  unemployment_rate 2019-03-31      None      None  2019.25
50  unemployment_rate 2020-03-31      None      None  2020.25
51  unemployment_rate 2021-03-31      None      None  2021.25
52  unemployment_rate 2022-03-31      None      None  2022.25